<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         id="WebApp_ID" version="2.5">
  <display-name>latis-server</display-name>
   
    <servlet>
        <servlet-name>LatisServer</servlet-name>
        <servlet-class>latis.server.LatisServer</servlet-class>
        <!-- init-param>
            <param-name>config</param-name>
            <param-value>/my/path/to/latis.properties</param-value>
        </init-param-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LatisServer</servlet-name>
        <url-pattern>/latis/*</url-pattern>
    </servlet-mapping>

</web-app>